.container-navbar {
  background-color: #455a64;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-navbar ul {
  list-style: none;
  display: flex;
}

.container-navbar ul li {
  margin: 10px;
}
.logo {
  margin: 10px;
  height: 50px;
}
